@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(188, 0, 0);
  font-family: Arial, sans-serif;
  font-weight: 500;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.animate-3D {
  animation: spin 20s linear infinite;
  transform: perspective(600px);
  perspective-origin: 15% 55%;

  
}

@keyframes spin {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(360deg);
  }
}