@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(0, 0, 0);
  font-family:'Times New Roman', Times, serif;
  font-weight: 500;
  background: rgb(255, 255, 255);
}

ul,
ol {
  list-style: revert;
  margin: revert;
  padding: revert;
}

a {
  color: rgb(59, 59, 59);
  transition: transform 0.5s ease, color 0.5s ease;;
}

a:hover {
  color: rgb(255, 255, 255);
  z-index: 2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.intro p {
  margin-top: 28px;
}

.script{
  /* font-family: monospace; */
}

.press {
  background-image: url('/scene2.jpeg');
  background-size: cover;         /* scales image to cover the container */
  background-position: center;    /* centers the image */
  background-repeat: no-repeat;   /* prevents tiling */
}