@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  font-weight: 500;
  background: rgb(15, 15, 15);
}

a {
  color: rgb(59, 59, 59);
  transition: transform 0.5s ease, color 0.5s ease;;
}

a:hover {
  color: rgb(255, 255, 255);
  z-index: 2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.animate-3D {
  animation: spin 20s linear infinite;
  transform: perspective(600px);
  perspective-origin: 15% 55%;

  
}

@keyframes spin {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(360deg);
  }
}